################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/storageState.json
/.vs
bin/
obj/
